:root {
  --primary-color: #1ed760;
  --secondary-color: #121414;
  --tertiary-color: #511281;
  --contrast-color: #e8e6e3;
}

html,
body {
  background-color: var(--secondary-color);
  color: var(--contrast-color);
}
