:root {
  --primary-color: #1ed760;
  --secondary-color: #121414;
  --tertiary-color: #511281;
  --contrast-color: #e8e6e3;
  --spacing: 1rem;
}

html {
  font-size: 16px;
}

html,
body {
  background-color: var(--secondary-color);
  color: var(--contrast-color);
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.17rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.83rem;
}

h6 {
  font-size: 0.67rem;
}

p {
  font-size: 1rem;
}
