.container {
  padding: 1rem;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.card {
  display: grid;
  place-items: center;
  border: solid 4px var(--tertiary-color);
  padding: 1rem;
  border-radius: 24px;
  width: 240px;
  text-align: center;
}

.cardImage {
  border-radius: 50%;
}