.container {
  height: 100vh;
  position: relative;
  display: grid;
  place-content: center;
  gap: 1rem;
}

.title {
  text-decoration: none;
  margin: 0;
  padding: 1em;
  border-radius: 1em;
  background-color: var(--primary-color);
}

.titleLink {
  text-decoration: none;
  color: inherit;
}

.backgroundSvg {
  position: absolute;
  left: 0;
  bottom: 0;
}

.backgroundSvgPath {
  fill: var(--tertiary-color);
}
